<!-- This page ha sthe same HTML as 'Create goal' page. The only difference is title name -->
<div class="goals-page">
  <div class="main-alert main-alert--error">
    <i class="main-alert__icon icon icon-triangle-warning"></i>
    <p class="main-alert__txt">Fill in due date.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="goals-page__title">Edit Goal</h1>

        <div class="create-goal__card main-card">
          <form>
            <div class="main-input">
              <label class="main-input__label" for="goal_title">Goal Title</label>
              <input class="main-input__field" type="text" id="goal_title" value="Learn RSpec" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="main-input">
              <label class="main-input__label" for="goal_descr">Description</label>
              <textarea rows="4" class="main-input__field main-input__field--textarea">Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.</textarea>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_priority">Priority</label>
              <select id="goal_priority" class="main-input__field main-input__field--xs">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_date">Due Date</label>
              <input class="main-input__field main-input__field--xs" type="date" id="goal_date" value="2019-09-01" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__form-footer">
              <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
              <button type="submit" class="main-btn main-btn--xs">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
