<div class="goals-page">
  <div class="goals-page__container container">
    <h1 class="goals-page__title">My Goals</h1>

    <div class="empty-goals__card main-card">
      <%=image_tag('working.svg', alt: 'Process', class: 'empty-goals__img')%>

      <p class="empty-goals__descr">You have no goals. Not going to lie, this is a bit sad.</p>

      <a href="/" class="main-btn">Create a Goal</a>
    </div>
  </div>
</div>
