<div class="goals-page">
  <div class="goals-page__container container">

    <div class="goals-page__header">
      <h1 class="goals-page__title">My Goals</h1>
      <a href="/" class="main-btn main-btn--xs mb-20 d-md-none">Create a Goal</a>
    </div>

    <div class="goals-page__nav main-card">
      <div class="main-tab">
        <a href="/" class="main-tab__item">All 8</a>
        <a href="/" class="main-tab__item main-tab__item--active">Incomplete 4</a>
        <a href="/" class="main-tab__item">Completed 4</a>
      </div>
      <div class="d-none d-md-block">
        <a href="/" class="main-btn main-btn--xs">Create a Goal</a>
      </div>
    </div>

    <div class="goals-page__card main-card">
      <div class="overflow-x-auto">
        <table class="goals-page__table main-table">
          <thead>
            <tr>
              <th>Goal Name</th>
              <th width="160">Due Date</th>
              <th width="160">Priority</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <i class="main-table__check icon icon-circle-check"></i>
                <p class="goals-page__table-txt mb-0">Learn RSpec</p>
              </div>
            </td>
            <td>12.08.2019</td>
            <td>
              <div class="d-flex align-items-center">
                <i class="in-low mr-4 icon icon-arrow-down"></i>
                Low
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <i class="main-table__check icon icon-circle-check"></i>
                <p class="goals-page__table-txt mb-0">Metaprogramming</p>
              </div>
            </td>
            <td>16.08.2019</td>
            <td>
              <div class="d-flex align-items-center">
                <i class="in-high mr-4 icon icon-arrow-up"></i>
                High
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
