<div class="view-goal goals-page">
  <div class="view-goal-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <a href="/" class="icon-btn icon-btn--blue">
            <i class="icon-btn__icon icon icon-angle-left"></i>
            <span class="icon-btn__txt">My Goals</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="main-card">
          <div class="view-goal-card__header">
            <button type="button" class="main-btn main-btn--grey-border main-btn--xxs">
              <i class="main-btn__icon icon icon-check"></i>
              Mark Complete
            </button>
            <!-- <button type="button" class="main-btn main-btn--green main-btn--xxs">
              <i class="main-btn__icon icon icon-check"></i>
              Completed
            </button> -->
            <div class="d-flex align-items-center">
              <a href="/" class="icon-btn mr-16">
                <i class="icon-btn__icon icon icon-edit mr-4"></i>
                <span class="icon-btn__txt d-none d-md-inline-block">Edit</span>
              </a>
              <button type="button" class="icon-btn">
                <i class="icon-btn__icon icon icon-bin mr-4"></i>
                <span class="icon-btn__txt d-none d-md-inline-block">Delete</span>
              </button>
            </div>
          </div>

          <div class="view-goal-card__body">
            <div class="view-goal-card__subheader">
              <h1 class="view-goal-card__title">Learn RSpec</h1>
              <div class="d-md-flex">
                <div class="view-goal-card__details">
                  <div class="view-goal-card__details-label">
                    <i class="icon icon-calendar mr-8"></i>
                    Due Date
                  </div>
                  12.08.2019
                </div>
                <div class="view-goal-card__details">
                  <div class="view-goal-card__details-label">
                    Priotity:
                  </div>
                  <i class="in-high icon icon-arrow-up"></i>
                  <!-- <i class="in-medium icon icon-arrow-up"></i>
                  <i class="in-low icon icon-arrow-down"></i> -->
                  High
                </div>
              </div>
            </div>

            <div class="view-goal-card__descr">
              <p class="view-goal-card__descr-label">Description</p>
              <p>
                Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii
                nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat
                eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
