$colors: (
  // Basic colors
  black-100:      #000,
  black-80:       rgba(black, 0.8),
  black-60:       rgba(black, 0.6),
  black-40:       rgba(black, 0.4),
  black-20:       rgba(black, 0.2),
  black-10:       rgba(black, 0.1),
  white-100:      #fff,
  white-80:       rgba(white, 0.8),
  white-60:       rgba(white, 0.6),
  white-40:       rgba(white, 0.4),
  white-20:       rgba(white, 0.2),
  white-10:       rgba(white, 0.1),

  // Accent colors
  blue-100:       #2566f2,
  blue-110:       #2360e4,
  blue-120:       #1f59d5,
  green-100:      #29cb98,
  green-110:      #25bf8f,
  red-100:        #fc2249,
  yellow-100:     #fc0, // ffcc00
  lightblue-100:  #00c6ff,
  violet-100:     #9013fe,

  grey-100:          #6f6f6f,
  grey-90:           #9b9b9b,
  grey-80:           #d5d5d5,
  grey-70:           #e7e7e7,
  grey-60:           #f7f7f9,
  lightblue-10:      #e3f9ff,
  lightblue-20:      #edf8ff,

  // Action colors
  lightgreen-50:    #def7ef,
  lightred-20:      #ffd8df,
);
