$app-colors: (
  // Basic colors
  black:          #000,
  white:          #fff,
  // Accent colors
  blue-100:       #2566f2,
  blue-110:       #2360e4,
  blue-120:       #1f59d5,
  green-100:      #29cb98,
  green-110:      #25bf8f,
  red-100:        #fc2249,
  yellow-100:     #fc0, // ffcc00
  lightblue-100:  #00c6ff,
  violet-100:     #9013fe,
);
