button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: $base-font;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }
}
img {
  max-width: 100%;
}
select,
input {
  width: 100%;
  &:focus {
    outline: none;
  }
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
textarea {
  display: block;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}
label {
  cursor: pointer;
}
table {
  width: 100%;
}
