// scss-lint:disable VendorPrefix
@mixin input-placeholder-text {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-ms-input-placeholder {
    @content;
  }
}

@mixin transition-settings ($properties, $duration: $transition-duration, $function: $transition-function) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $function;
}
