html, body {
  height: 100%;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app-wrap__content {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 0;
}
