.main-header {
  display: flex;
  position: relative;
  z-index: $header-z-index;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding-right: $gutter-xs * 2;
  padding-left: $gutter-xs * 2;
  background-color: color(white-100);
  box-shadow: $shadow-sm;
  @include media-breakpoint-up(md) {
    padding-right: $gutter-md * 2;
    padding-left: $gutter-md * 2;
  }
}
