.info-page {
  position: relative;
  flex-grow: 1;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: color(white-100);
    background-image: url('dots.svg');
    background-repeat: no-repeat;
    background-position: center 90px;
    background-attachment: fixed;
    @include media-breakpoint-up(md) {
      background-image: url('dots_768.svg');
      background-position-y: 98px;
    }
    @include media-breakpoint-up(lg) {
      right: calc((100vw - #{$container-max-width-lg}) / 2 + (#{$container-max-width-lg} / 12 * 5));
      background-position-x: calc((100vw - #{$container-max-width-lg}) / 2 - 50px);
    }
  }
}
.info-page__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: division(32, 24);
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: division(52, 42);
  }
}
.info-page__subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: division(32, 24);
  }
}
.info-page__descr {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: division(24, 16);
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: division(26, 18);
  }
}
.info-page__img {
  position: sticky;
  top: 100px;
  transform: translateX(30px);
}
