.mr-4 {
  margin-right: 4px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
