.main-btn {
  @include transition(background-color, color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  height: 50px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: $border-radius;
  background-color: color(blue-100);
  color: white;
  font-size: 18px;
  &:hover {
    background-color: color(blue-110);
  }
  &:active {
    background-color: color(blue-120);
  }
}
.main-btn--xs {
  min-width: 130px;
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
}
