.main-table {
  font-size: 16px;
  line-height: division(24, 16);
  thead {
    border-bottom: 3px solid color(black-10);
  }
  tbody tr {
    @include transition-settings(background-color);
    &:hover {
      background-color: color(grey-60);
    }
    &.main-table__row--hightlight {
      background-color: color(lightblue-10);
    }
  }
  td,
  th {
    padding: 8px 12px;
    vertical-align: middle;
    @include media-breakpoint-up(md) {
      &:first-child {
        padding-left: 20px;
      }
      &:last-child {
        padding-right: 20px;
      }
    }
    @include media-breakpoint-up(lg) {
      &:first-child {
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 40px;
      }
    }
  }
  th {
    height: 68px;
    font-weight: 400;
  }
  td {
    height: 48px;
  }
  tr {
    border-bottom: 1px solid color(black-10);
    &:last-child {
      border-bottom: none;
    }
  }
}
.main-table__row--checked {
  color: color(grey-90);
}
.main-table__check {
  position: relative;
  margin-right: 8px;
  color: color(black-20);
  @include media-breakpoint-up(md) {
    margin-right: 16px;
  }
  &:before {
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: color(white-100);
  }
}
.main-table__check--active {
  color: color(green-100);
}
